*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.body{
    font-family: 'Rubik', sans-serif;
}

.header{
    position:fixed;
    top:0px;
    
}

.nickname {
    
    background-color:#099d8d;
    opacity:0.9;
    padding:15px;
    height:60px;
    width:100%;
    /*position:fixed;
    top:0;*/
    position:relative;
    top:0;
    width:100vw;

    
    
}

 .nickname h1{

    color:white;
    text-align:center;
    font-size:16px;
}



.menu{

    background-color:#14d9c4;
    opacity:0.9;
    padding-top:15px;
    font-size:15px;
    height:45px;
    text-align: center;
    /*position:fixed;
    top:60px;
    width:100vw;*/
    position:relative;
    top:0;
    width:100vw;
   
    
}

.menu ul li{

    display:inline;
    padding-right:10px;
    
    
    
}

.menu ul li a {
    text-decoration:none;
    color:white;
    padding:11px;
    
}



@media all and (min-width:768px) {

    .header{

        display:flex;
        justify-content: space-between;
        align-items:center;
        align-content:center;
        background-color: #099d8d;
        opacity:0.9;
        width: 100%;
        height: 60px;
        position:fixed;
        top:0;
        
        
    }


    /*.nickname{
    width: 100vw;
    
    
    }*/



.menu{
    
    
    width: 100vw;
    padding-top: 22.5px;
    background-color: #099d8d;
    opacity:0.9;
    /*height:60px;*/
    

    
}


}