.bottom {
    background-color: white;
    border-color: grey;
    font-family: OpenSans, sans-serif;
    /*position: center;*/
}

.copyright {
    color: #b8b8b9;
}

.in-page-links {
    text-decoration: none;
    color: #54585a;
   
}