<div class="footer-wrapper">
    <footer>
        <aside>Code con Code &copy 2020</aside>
        <nav class="footer-menu">
            <ul>
                <li><a title="EQUIPO" href="#team">EQUIPO</a></li>
                <li><a title="QUIÉNES SOMOS" href="#about">QUIÉNES SOMOS</a></li>
                <li><a title="CONTACTO" href="./contacto.html">CONTACTO</a>
            </ul>
        </nav>
        <div class="footer-img">
            <img alt="Logo de AdaLab" src="./assets/images/logo-adalab-1.png">
        </div>
    </footer>
</div>