<div class="form-container">
    <form>
        <label for="completName">Nombre completo *</label>
        <input placeholder="Nombre..." type="text" id="completName" name="completName" required />
        <label for="email">Email *</label>
        <input placeholder="nombre.apellidos@gmail.com" id="email" name="email" type="email" required />
        <label for="telephone">Teléfono</label>
        <input placeholder="Ej 123456789" id="telephone" type="tel" name="telephone"/>
        <label for="message">Mensaje *</label>
        <textarea placeholder="¿Qué necesitas?" id="message" name="message" rows="8" cols="35"> 
        </textarea>
    </form>
</div>