<div class="form-container">
    <form action="https://formspree.io/xrgqnypv" method="post">
        <label for="completName">Nombre completo <span class="asterisk">*</span></label>
        <input placeholder="Nombre..." type="text" id="completName" name="completName" required />
    <div class="connection-container">
        <div class="email-container">
        <label for="email">Email <span class="asterisk">*</span></label>
        <input placeholder="nombre.apellidos@gmail.com" id="email" name="email" type="email" required />
        </div>
        <div class="tel-container">
        <label for="telephone">Teléfono</label>
        <input placeholder="Ej 123456789" id="telephone" type="tel" name="telephone"/>
        </div>
    </div>        
        <label for="message">Mensaje <span class="asterisk">*</span></label>
        <textarea placeholder="¿Qué necesitas?" id="message" name="message" rows="8" cols="35"> 
        </textarea>
        <div class="button-container">
        <input class="button" type="submit" value="enviar" />
        </div>
    </form>
</div>