<section class="coolgrey">

    <div class="coolgrey-container">
        <div class="coolgrey-strenghts">
            <h4>Fortalezas</h4>
            <p>
                Nos caracterizamos por afrontar sin miedo los nuevos retos que se avecinan, no tememos a los
                cambios. Trabajamos con ilusión, y somos capaces de adaptarnos a las necesidades de cada
                proyecto en cada momento. Mujeres, jóvenes, estamos en constante formación para ofrecer lo mejor
                de nosotras mismas.
            </p>
        </div>
        <div class="coolgrey-weakness">
            <h4>Debilidades</h4>
            <p>
                Comenzamos de cero, pero lo sabemos y vamos a por ello. A pesar de la falta de experiencia
                creemos que podemos lograr aquello que nos propongamos para lograr las mejores soluciones. Estar
                aquí, hoy, es el mejor motor.
            </p>
        </div>
    </div>

</section>