<main >
    
    <div class="team-container" id="team">
    <h3 class="team-title">EQUIPO</h3>
    <section class="team-description">
        <p>
            Code con Code lo formamos 5 mujeres que, a pesar de provenir de distintos campos, hemos decidido
            organizarnos como desarrolladoras para llegar a un objetivo común, mejorar tu marca. Manteniendo en todo momento un
            buen nivel de coordinación y de armonía conseguimos llegar a este fin.
        </p>

        <p>
            Usamos todas las herramientas a nuestro alcance, y día a día trabajamos en la capacidad de hacer de
            ellas que sean un elemento positivo para ofrecer soluciones.
        </p>

        <p>Si quieres generar valor añadido para tus clientes, no lo dudes ¡contáctanos!</p>

    </section>
    </div>
    <div class="diamond"></div>
    
</main>