<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Code con Code</title>
  <link rel="icon" href="./favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
    <div class="page">
      <partial src="_header-contact.html" label="Header"></partial>
      <partial src="_hero-contact.html" label="Hero"></partial>
      <partial src="_contactinfo.html" label="Contact Info"></partial>
      <partial src="_form-form.html" label="Form"></partial>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </body>
  
  </html>
