<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Code con Code</title>
  <!-- <link rel="icon" href="./favicon.png" /> -->
  <link rel="icon" href="./assets/images/c3-logo-yellow80px.png" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_hero.html" label="Hero"></partial>
    <partial src="_team.html" label="Team"></partial>
    <partial src="_strengths-weakness.html" label="Strengths and weaknesses"></partial>
    <partial src="_profile-cards.html" label="Profiles"></partial>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
</body>

</html>