.coolgrey {
    background-color: $sectionBackground;

    & .coolgrey-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 1.875rem;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        padding-bottom: 2.8125rem;

        @include forTablet {
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            padding-top: 2.8125rem;
            padding-bottom: 3.75rem;
            padding-left: 2.8125rem;
            padding-right: 2.8125rem;
        }

        &>div {
            width: 100%;

            & h4 {
                font-family: $textTitle;
                font-size: 1.37rem;
                line-height: 2.05;
                color: $colorDark;
                margin: 0;
            }

            & p {
                font-family: 'Open Sans', sans-serif;
                color: #54585A;
                line-height: 1.5;
                margin: 0;
            }
        }

        & .coolgrey-weakness {
            padding-top: 1.875rem;

            @include forTablet {
                padding-top: 0rem;
                padding-left: 1.875rem;
            }
        }
    }
}