.contact-info {
    height: 9.625rem;
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    align-items: center;

    @include forPc {
        margin-top: 2.8125rem;
    }
}


.contact-title {
    width: 7.9375rem;
    height: 2.8125rem;
    padding-bottom: 0.9375rem;

    & h3 {
        font-family: $textTitle;
        font-size: 1.5rem;
        color: $colorDark;
    }
}


.contact-text {
    & p {
        font-family: $textStyle;
        font-size: 1rem;
        color: $fontMain;
        line-height: 1.5rem;
        text-align: center;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }

    @include forTablet {
        width: 27.625rem;
    }

    @include forPc {
        width: 37.5625rem;
    }
}

.contact-rule {
    & p {
        font-family: $textStyle;
        font-size: 0.75rem;
        color: $fontMain;
        line-height: 1.5rem;
        text-align: center;
        margin-top: 2.5rem;
    }
}

.asterisk {
    color: $colorDark;
}


