.contact-info {
    height: 9.625rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    
}


.contact-title {
    width: 127px;
    height: 45px;
    padding-bottom: 15px;
    
    

    & h3 {
        font-family: $textTitle;
        font-size: 1.5rem;
        color: $colorDark;

    }
}


.contact-text {


    & p {
        font-family: $textStyle;
        font-size: 1rem;
        color: $fontMain;
        line-height: 24px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;

    }

}

.contact-rule {


    & p {
        font-family: $textStyle;
        font-size: 0.75rem;
        color: $fontMain;
        line-height: 24px;
        text-align: center;
        margin-top: 40px;;
    }

}

.asterisk {
    color: $colorDark;
}


@media all and (min-width:768px) {
    .contact-text {
        width: 442px;
    }

}



@media all and (min-width:1200px) {
    .contact-info{
        margin-top: 45px;
    }

    .contact-text{
        width: 601px;
    }
    
}