
.footer-wrapper {
    font-family: $textStyle;
    background-color: $standardBackground;
    border-top: solid 1px $sectionBackground;
    height: 250px;
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 40px auto 40px;
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 1/6;
        grid-row: 1/3;
        aside {
            font-size: 1rem;
            color: $sectionBackground;
            padding-top: 30px;
            padding-bottom: 20px;
        }
    }
}

.footer-text {
    text-align: center;
}

.footer-menu {
    display: inline-block;
    height: 60px;
    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        margin: 10px;
        text-align: center;
        li a {
            font-weight: 400;
            text-decoration: none;
            color: $fontMain;
            line-height: 1.5rem;
            font-size: 0.875rem;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            opacity: 0.75;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
        }
    }
}

.footer-img {
    padding-top: 30px;
    padding-bottom: 45px;
    img {
        width: 115.9px;
        height: 45px;
    }
}

@include forTablet {
    .footer-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 200px 200px;
    }
    .footer-wrapper footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        margin-right: 2.81rem;
        margin-left: 2.81rem;
        grid-column: 1/6;
        grid-row: 1/3;
        aside {
            font-size: 0.8rem;
        }
    }

    .footer-img {
        position: absolute;
        width: 15%;
        padding: 0px;
        margin: 0px;
        top: 10px;
        left: -15px;
        transform: translate(0.5rem, 4.5rem)
    }

    .footer-menu {
        padding-top: 1.5rem;
        ul li {
            text-align: right;
            line-height: 2rem;
        }
    }
}