.header {
    position: fixed;
    top: 0px;
    z-index: 999;
    font-family: 'Rubik', sans-serif;
}

.nickname {
    background-color: #099d8d;
    opacity: 0.95;
    padding: 0.93rem;
    height: 3.75rem;
    width: 100vw;
}


.nickname h1 {
    color: white;
    text-align: center;
    font-size: 0.93rem;
    padding-top: 0.62rem;
}


.menu {
    background-color: #14d9c4;
    opacity: 0.9;
    padding-top: 0.93rem;
    font-size: 0.93rem;
    font-weight: 800;
    height: 2.81rem;
    text-align: center;
    position: relative;
    top: 0;
    width: 100vw;
}

.menu ul li {

    display: inline;
    padding-right: 0.62rem;
}


.menu ul li a {
    text-decoration: none;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.43rem;
    left: 1rem;
    right: 1.06rem;
}


