
@mixin header () {
  position: fixed;
  top: 0px;
  z-index: 999;
  font-family: $textTitle;
}

@mixin nickname () {
  background-color: $colorDark;
  opacity: 0.95;
  padding: 0.93rem;
  height: 3.75rem;
  width: 100vw;

  h1 {
    color: $standardBackground;
    text-align: center;
    font-size: 0.93rem;

    & a {
      text-decoration: none;
      color: $standardBackground;
    }
  }
}

@mixin menu {
  background-color: $colorLight;
  opacity: 0.9;
  padding-top: 0.93rem;
  font-size: 0.93rem;
  font-weight: 800;
  height: 2.81rem;
  text-align: center;
  position: relative;
  top: 0;
  width: 100vw;

  ul li {
    display: inline;
    padding-right: 0.62rem;

    & a {
      text-decoration: none;
      color: $standardBackground;
      padding-top: 0.5rem;
      padding-bottom: 0.43rem;
      left: 1rem;
      right: 1.06rem;

      &:hover {
        color: #FF4500;
      }
    }
  }
}

@media all and (min-width:$tablet) {
  .header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: $colorDark;
    opacity: 0.9;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
  }

  .nickname {
    text-align: left;
    margin-left: 2.81rem;
    padding-bottom: 3.2rem;
  }

  .menu {
    width: 100vw;
    padding-top: 22.5px;
    background-color: $colorDark;
    opacity: 0.9;
  }
}