.hero {
    background: url(../images/foto-hero-contact1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 65vh;
}


