.coolgrey {

    background-color:$sectionBackground;

    & .coolgrey-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 1.875rem;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        padding-bottom: 2.8125rem;

        & >div {
        width: 100%;

            & h4 {
            font-family: $textTitle;
            font-size: 1.37rem;
            line-height: 2.05;
            color: $colorDark;
            margin: 0;
            }

            & p {
            font-family: 'Open Sans', sans-serif;
            color: #54585a;
            line-height: 1.5;
            margin: 0;
            }
        }

    & .coolgrey-weakness {
        padding-top: 1.875rem;
        }
    }
}
