.team-container {
    background-color: $standardBackground;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: 2.5rem;
    box-sizing: border-box;

    @include forTablet {
        width: 100%;
        padding-left: 2.8125rem;
        padding-right: 2.8125rem;
        padding-top: 2.8125rem;
        padding-bottom: 1.875rem;
    }

    @include forPc {
        width: 100%;
        padding-left: 18.75rem;
        padding-right: 18.75rem;
        padding-top: 2.8125rem;
        padding-bottom: 3.75rem;
    }
}


.team-title {
    color: $colorLight;
    font-size: 1.5rem;
    width: 5.5625rem;
    height: 2.8125rem;
    font-family: $textTitle;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    margin-top: 0.75rem;
}


.team-description {
    color: $fontMain;
    width: 100%;
    height: 25.625rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    margin: 0rem;

    @include forTablet {
        max-height: 13.75rem;
    }

    & p {
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: normal;
        font-family: $textTitle;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
        padding-top: 0.9375rem;
    }
}


.diamond {
    width: 1.875rem;
    height: 1.875rem;
    transform: rotate(45deg);
    background-color: $standardBackground;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0.9375rem;
}